
footer h6{
	color:gold;

}

footer a{
	color:#F5F5F5;
	text-decoration:none;
}


footer a:hover{
	color:gold;
	text-decoration:none;

} 


footer p{
	color:#F5F5F5;
}
   

footer a i{

	color:#F5F5F5;
	text-decoration:none;
}
